# Tell GitHub Linguist what language these files are
croff/bothrc        linguist-language=Shell
croff/nrc           linguist-language=Shell
croff/suftab.c      linguist-language=C
croff/term/termrc   linguist-language=Shell
croff/term/code.300 linguist-language=C
neqn/ne.g           linguist-language=Lex
neqn/neqnrc         linguist-language=Shell
croff/sufrc         diff

# Normalize line endings for source files
*.c text filter=stripnul
*.h text filter=stripnul
*.s text diff filter=stripnul
